[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "multinma"]
	path = multinma
	url = https://github.com/dmphillippo/multinma
	shallow = true
	registered = true
